{{- if .Values.secrets.enabled }}
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: {{ include "enclave-signer-registry.fullname" . }}-secret
  namespace: {{ .Release.Namespace }}
spec:
  data:
  - remoteRef:
      key: {{ .Release.Namespace }}/metatx/ethereum/rpc_url
    secretKey: ETHEREUM_RPC_URL
  - remoteRef:
      key: {{ .Release.Namespace }}/enclave-signer-registry/odometer-attester/private_key
    secretKey: PRIVATE_KEY
  secretStoreRef:
    kind: ClusterSecretStore
    name: aws-secretsmanager-secret-store
  target:
    name: {{ include "enclave-signer-registry.fullname" . }}-secret
    template:
      metadata: {}
{{- end }}