replicaCount: 1
imagePullSecrets: []
nameOverride: ''
fullnameOverride: ''
podAnnotations: {}
podSecurityContext: {}
bridge:
  image:
    repository: dimozone/enclave-bridge
    pullPolicy: IfNotPresent
    tag: 3c96082
  securityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - all
  env:
    LOG_LEVEL: TRACE
    PORT: '8080'
    MON_PORT: '8888'
    VSOCK_INIT_PORT: '5000'
    DEV_LICENSE_CONTRACT: '0x9A9D2E717bB005B240094ba761Ff074d392C7C85'
    DEVELOPER_LICENSE: '0x332b18C8d30970FEc524b9f94091AD81d7C13EfD'
    CHAIN_ID: '137'
    TLS_ENABLED: false
    TLS_ACME_HOST_NAME: enclave-signer-registry.dev.dimo.zone
    TLS_ACME_CA_DIR_URL: https://acme-staging-v02.api.letsencrypt.org/directory
    TLS_ACME_EMAIL: ''
    PCRS_0_PCR0: '0xdd5e1cf85763586f5f65b0e74e4fd036586a3afdf35c28fdab34dbb7d43da5b0d38d8140ed20621acd732b41635a247f'
    PCRS_0_PCR1: '0xfa2593b59f3e4fc7daba5cbdddfd3449d67cd02d43bb1128885e8f38b914d081dccdb68fff6d5b7a76bcb866a18a74a3'
    PCRS_0_PCR2: '0xa18098d61a5bb225cc0fbab3a11a0b2b22cd65519280bcbc3b4634403125e88c7d4ce8127021d70ab9049b4fd43eb6da'
    PCRS_1_PCR0: '0xed9e44bb9888003d8f5e36e1faa9ae4a15de6165545ae3dc292557f656e3af31703f6faf062868135a6411ae2ac26494'
    PCRS_1_PCR1: '0xfa2593b59f3e4fc7daba5cbdddfd3449d67cd02d43bb1128885e8f38b914d081dccdb68fff6d5b7a76bcb866a18a74a3'
    PCRS_1_PCR2: '0x9d7cab1ce60888e5f71e1f1a51ee3916bd489a9f84c232693e2ea88bd42e7873929a562f2bc5718b495e7169eac08dee'
    PCRS_2_PCR0: '0x1fc61d20638db4b5e4910e157ef5a9d8a1fab01c420fd708c1f6ed2a169983d3d6ca98b0ece24c28607174302d5b6219'
    PCRS_2_PCR1: '0xfa2593b59f3e4fc7daba5cbdddfd3449d67cd02d43bb1128885e8f38b914d081dccdb68fff6d5b7a76bcb866a18a74a3'
    PCRS_2_PCR2: '0x4b0ec62fa57828ff14918437c384a22e4f71a868210525706ea54088db89ce74fb6cb6f8dc62cc5f120722ed451e466d'
  ports:
    - name: mon-http
      containerPort: 8888
      protocol: TCP
      identities:
        - mon-kube-prometheus-stack-prometheus.mon.serviceaccount.identity.linkerd.cluster.local
    - name: http
      containerPort: 8080
      protocol: TCP
      identities:
        - dev.serviceaccount.identity.linkerd.cluster.local
        - ingress-ingress-nginx.ingress.serviceaccount.identity.linkerd.cluster.local
  resources:
    limits:
      cpu: 250m
      memory: 512Mi
    requests:
      cpu: 100m
      memory: 256Mi
  linkerd:
    enabled: false
app:
  image:
    repository: dimozone/enclave-signer-registry
    pullPolicy: IfNotPresent
    tag: 898f20a
  securityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - all
  env:
    ENCLAVE_CPU_COUNT: '2'
    ENCLAVE_MEMORY_SIZE: '1000'
    ENCLAVE_CID: '16'
    ENCLAVE_DEBUG_MODE: null
  ports: null
  resources:
    limits:
      aws.ec2.nitro/nitro_enclaves: '1'
      hugepages-1Gi: 1Gi
      memory: 512Mi
      cpu: 500m
    requests:
      aws.ec2.nitro/nitro_enclaves: '1'
      hugepages-1Gi: 1Gi
      memory: 128Mi
      cpu: 100m
service:
  type: ClusterIP
  ports:
    mon-http:
      port: 8888
      targetPort: mon-http
      protocol: TCP
    http:
      port: 80
      targetPort: http
      protocol: TCP
ingress:
  enabled: true
  className: nginx
  annotations:
    nginx.ingress.kubernetes.io/auth-tls-secret: ingress/cf-origin-ca
    nginx.ingress.kubernetes.io/auth-tls-verify-client: 'on'
    external-dns.alpha.kubernetes.io/cloudflare-proxied: 'true'
    nginx.ingress.kubernetes.io/backend-protocol: HTTP
    nginx.ingress.kubernetes.io/ssl-passthrough: 'false'
    nginx.ingress.kubernetes.io/proxy-read-timeout: 360s
    nginx.ingress.kubernetes.io/proxy-send-timeout: 360s
    nginx.ingress.kubernetes.io/limit-rps: '50'
    external-dns.alpha.kubernetes.io/hostname: enclave-signer-registry.dev.dimo.zone
  hosts:
    - host: enclave-signer-registry.dev.dimo.zone
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
nodeSelector:
  enclave: 'true'
affinity: {}
podDisruptionBudget:
  minAvailable: 0
kafka:
  clusterName: kafka-dev-dimo-kafka
  topics: []
serviceAccount:
  create: true
  annotations: {}
  name: ''
serviceMonitor:
  enabled: true
  path: /metrics
  port: mon-http
  interval: 30s
secrets:
  enabled: true
